{% extends 'baseLogin.html.twig' %}

{% block title %}Connecte toi !{% endblock %}

{% block body %}
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                    <div class="d-flex justify-content-center py-4">
                        <a href="/" class="logo d-flex align-items-center w-auto">
                            <img src="assets/img/logo.png" alt="">
                            <span class="d-none d-lg-block">CRM</span>
                        </a>
                    </div><!-- End Logo -->

                    <div class="card mb-3">

                        <div class="card-body pt-4 pb-2">
                            {% for success in app.flashes('success') %}
                                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                                    {{ success }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                            <div class="pt-4 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4">Saisir votre nouveau mot de passe</h5>
                            </div>
                            <form method="post" class="row g-3 needs-validation">
                                <label for="inputEmail">Nouveau mot de passe</label>
                                <input type="password" value="" name="password" class="form-control" required autofocus>
                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}"
                                >

                                <button class="btn btn-lg btn-primary" type="submit">
                                    Envoyer
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}