{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">

        <!-- LISTE FORMATIONS-->
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h5 class="m-0 font-weight-bold text-primary">USER TEST</h5>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Compétences acquises ?</th>
                        <th scope="col">Dépôt de preuve</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th id = "element-1" scope="row">1</th>
                        <td>Test</td>
                        <td>Test</td>
                        <td>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitches">
                                <label class="custom-control-label" for="customSwitches"></label>
                            </div>
                        </td>
                        <td>
                            <div class="mb-6">
                                <input class="form-control" type="file" id="formFile">
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
