{% extends 'base.html.twig' %}

{% block title %}Hello FormationController!{% endblock %}

{% block body %}
    <h3>Matières de l'étudiant</h3>
    <ul>
        {% for form in formation.stagiaire %}
            <li>{{ form.nom }}</li>
        {% endfor %}
    </ul>
{% endblock %}
