{% extends 'baseTeacher.html.twig' %}

{% block title %}Les Documents{% endblock %}

{% block body %}
    <div class="container-fluid" bis_skin_checked="1">
        <div class="row mb-2" bis_skin_checked="1">
            <div class="col-sm-6" bis_skin_checked="1">
                <h1>Documents et outils clé</h1>
            </div>
        </div>
    </div>

{% endblock %}
