

{% block title %}Hello PdfController!{% endblock %}

{% block body %}
     <h1>Formation Details</h1>

    <p>Nom de la formation: {{ formdata.nomFormation }}</p>
    <p>Durée de la formation: {{ formdata.dureeFormation }}</p>
    <p>Domaine de la formation: {{ formdata.domaineFormation }}</p>
{% endblock %}
